In [1]:
install.packages("nycflights13")

Installing package into ‘/usr/local/spark-3.2.1-bin-hadoop3.2/R/lib’
(as ‘lib’ is unspecified)

In [2]:
# Launch SparkR in local mode with 1GB of memory allocated to it
library(ggplot2)
library(SparkR)
library(magrittr)
library(nycflights13)

Attaching package: ‘SparkR’


The following object is masked from ‘package:ggplot2’:

    expr


The following objects are masked from ‘package:stats’:

    cov, filter, lag, na.omit, predict, sd, var, window


The following objects are masked from ‘package:base’:

    as.data.frame, colnames, colnames<-, drop, endsWith, intersect,
    rank, rbind, sample, startsWith, subset, summary, transform, union



Attaching package: ‘magrittr’


The following object is masked from ‘package:SparkR’:

    not

In [3]:
# Launch SparkR in local mode with 1GB of memory allocated to it
sparkR.session(master = "local[*]", sparkConfig = list(spark.driver.memory = "1g"))
flights <- as.DataFrame(flights)

Spark package found in SPARK_HOME: /usr/local/spark

Launching java with spark-submit command /usr/local/spark/bin/spark-submit   --driver-memory "1g" sparkr-shell /tmp/RtmpR0b4OG/backend_port11484c57e8de

Java ref type org.apache.spark.sql.SparkSession id 1

In [17]:
head(flights)

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515             2         830      819
2 2013 1     1   533      529             4         850      830
3 2013 1     1   542      540             2         923      850
4 2013 1     1   544      545            -1        1004     1022
5 2013 1     1   554      600            -6         812      837
6 2013 1     1   554      558            -4         740      728
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  11       UA      1545   N14228  EWR    IAH  227      1400     5    15
2  20       UA      1714   N24211  LGA    IAH  227      1416     5    29
3  33       AA      1141   N619AA  JFK    MIA  160      1089     5    40
4 -18       B6       725   N804JB  JFK    BQN  183      1576     5    45
5 -25       DL       461   N668DN  LGA    ATL  116       762     6     0
6  12       UA      1696   N39463  EWR    ORD  150       719     5    58
  time_hour
1 2013-01-01 10:00:00
2 2013-01-01 10:00:00
3 2013-01-01 10:00:00
4 2013-01-01 10:00:00
5 2013-01-01 11:00:00
6 2013-01-01 10:00:00

In [31]:
avg_delay_for_carrier <- flights %>%           
                    filter(column("origin")=="JFK") %>%      # Only flights from JFK
                    mutate(delayed=column("dep_delay")>30) %>%    # Create delayed indicator
                    mutate(delayed=cast(column("delayed"),"double")) %>%  # Convert column from boolean to double
                    group_by("carrier") #%>%       #Group by carrier
                    # summarize("delayed" = proportion)     #calculate proportion delayed  ???
                    # collect()
                           
head(avg_delay_for_carrier)

ERROR: Error in x[seq_len(n)]: object of type 'S4' is not subsettable

In [30]:
fligths.columns

ERROR: Error in eval(expr, envir, enclos): object 'fligths.columns' not found

In [4]:
x<- c(-1, -2, -3)

In [5]:
x

[1] -1 -2 -3

In [6]:
p1<- mean(x)

In [7]:
p1

[1] -2

In [10]:
dnorm(p1,1,2)

[1] 0.0647588

In [9]:
pnorm(27.4, 50, 20)

[1] 0.1292381